[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
sqlalchemy = "*"
psycopg2 = "*"

[dev-packages]
isort = "*"
black = "*"
mypy = "*"
flake8 = "*"
ipython = "*"

[requires]
python_version = "3.10"
